<div class="sidebar-module about">
  <h4>{{ site.locales[site.default_locale].Aboutme }}</h4>
  <span>{{site.aboutme}}</span>
  <br />
  <a href="https://gitlab.com/cysec-framework/cysec-server">Get Code</a>
  <br />

  {% if site.ShowContactInfo == "True" %}

  You can contact me via:

  {% if site.email != empty %}
  <a href="mailto:{{site.email}}" title="mailto: {{site.email}}">Email</a> /
  {% endif %}
  {% if site.github_username != empty %}
  <a href="https://github.com/{{site.github_username}}" title="GithubID: {{site.github_username}}">Github</a> /
  {% endif %}
  {% if site.twitter_username != empty %}
  <a href="https://twitter.com/{{site.twitter_username}}" title="TwitterID: {{site.twitter_username}}">Twitter</a>
  {% endif %}

  {% endif %}

</div>
